## Deliverable 3. Create a Travel Itinerary Map.

In [98]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [99]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,1,Langsa,ID,83.28,overcast clouds,4.4683,97.9683,OYO 2964 Hotel Ridho
1,2,Kapaa,US,78.78,scattered clouds,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
2,3,Saint-Philippe,RE,81.99,overcast clouds,-21.3585,55.7679,"Chambres d'hôte ""La Trinité"""
3,6,Santa Rita,BR,75.87,few clouds,-7.1139,-34.9781,Infinity Motel
4,9,Geraldton,AU,78.13,scattered clouds,-28.7667,114.6000,Broadwater Mariner Resort

In [100]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [101]:
# 4a. Add a marker layer for each city to the map.

marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
figure = gmaps.figure(center=(30.0, 31.0), zoom_level=1.4)
figure.add_layer(marker_layer)

# 4b. Display the figure

figure

Figure(layout=FigureLayout(height='420px'))

In [103]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df['City'] == 'Phalodi']
vacation_end = vacation_df.loc[vacation_df['City'] == 'Surat']
vacation_stop1 = vacation_df.loc[vacation_df['City'] == 'Kotma']
vacation_stop2 = vacation_df.loc[vacation_df['City'] == 'Digras'] 
vacation_stop3 = vacation_df.loc[vacation_df['City'] == 'Khuldabad']

In [104]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start.iloc[0,5:7].to_numpy()
end = vacation_end.iloc[0,5:7].to_numpy()
stop1 = vacation_stop1.iloc[0,5:7].to_numpy()
stop2 = vacation_stop2.iloc[0,5:7].to_numpy()
stop3 = vacation_stop3.iloc[0,5:7].to_numpy()

In [143]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".

figure = gmaps.figure(center=(24, 78), zoom_level = 5.5)
Phalodi = start
Kotma = stop1
Digras = stop2
Khuldabad = stop3 
Surat = end
roadtrip = gmaps.directions_layer(start, end,
                                  waypoints=[stop1, stop2, stop3],
                                  travel_mode="DRIVING")

In [144]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, 
                          vacation_stop2, vacation_stop3, vacation_end]
                         ,ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,1393,Phalodi,IN,70.79,clear sky,27.1333,72.3667,"HOTEL NEW GOLDEN PALACE , PHALODI"
1,773,Kotma,IN,71.64,clear sky,23.2000,81.9667,Abhishek dwivedi
2,1053,Digras,IN,77.76,scattered clouds,20.1167,77.7167,Swad Restaurant
3,187,Khuldabad,IN,74.32,few clouds,20.0500,75.1833,Capital O 29643 Etranger Resort
4,205,Surat,IN,73.38,haze,21.1667,72.8333,HOTEL RUCHIRAJ

In [145]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [146]:
# 11a. Add a marker layer for each city to the map.

marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

figure.add_layer(roadtrip)

# 11b. Display the figure

figure

Figure(layout=FigureLayout(height='420px'))